# This is Git's per-user configuration file.
[pull]
	rebase=false
[push]
	autoSetupRemote=true
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://dev.azure.com"]
	helper = /mnt/c/Program\\ Files/Git/mingw64/bin/git-credential-manager.exe
	useHttpPath=true
[user]
	name = Jack Anderson
	email = jackanderson02@outlook.com
[core]
	excludesfile = /home/jackanderson/.gitignore
